@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/YekanBakh/YekanBakh-Hairline.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/YekanBakh/YekanBakh-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/YekanBakh/YekanBakh-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/YekanBakh/YekanBakh-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/YekanBakh/YekanBakh-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/YekanBakh/YekanBakh-Heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/YekanBakh/YekanBakh-Fat.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
