@import "tailwindcss";

:root {
  --background: #f2f2f2;
  --foreground: #171717;

  /* Maliko Brand Colors */
  --primary: #0e60c9;
  --secondary: #0e60c933;
  --color-text: #404040;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Maliko Custom Colors */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text: var(--color-text);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f2f2f2;
    --foreground: #1a1818;
  }
}

body {
  background: var(--background);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
  direction: rtl;
  text-align: right;
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0a4fa0;
}
